<div id="<%= dom_id event %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Start date:</strong>
    <%= event.start_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">End date:</strong>
    <%= event.end_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= event.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= event.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Lead image:</strong>
    <%= event.display_lead_image %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Letter:</strong>
    <%= event.letter_id %>
  </p>

</div>
