<%= form_with(model: setting, class: "contents") do |form| %>
  <% if setting.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul class="list-disc ml-6">
        <% setting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": setting.errors[:name].none?, "border-red-400 focus:outline-red-600": setting.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :value %>
    <% if setting.name == "model" %>
      <%= form.select :value, AvailableModel.order(:name).pluck(:name), { include_blank: "— select a model —" }, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": setting.errors[:value].none?, "border-red-400 focus:outline-red-600": setting.errors[:value].any?}] %>
    <% else %>
      <%= form.text_field :value, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": setting.errors[:value].none?, "border-red-400 focus:outline-red-600": setting.errors[:value].any?}] %>
    <% end %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 3, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": setting.errors[:description].none?, "border-red-400 focus:outline-red-600": setting.errors[:description].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
